.container {
    max-width: 90%;
    width: 960px;
    margin: 4rem auto;
    .new-invoice-btn {
        color: #007aff;
        font-size: 1.6rem;
        float: right;
        padding: 0.8rem;
        margin-bottom: 2rem;
        // background: #eeeef0 0% 0% no-repeat padding-box;
        // border: 1px solid #e5e5e5;
        border-radius: 10px;
        width: 15rem;
        background-color: #eeeef0;
    }
    .parent {
        width: 100%;
        min-height: 68vh;
        max-height: 72vh;
        white-space: nowrap;
        overflow-x: auto;
    }
    .row-header .column {
        white-space: break-spaces;
    }
    .row-header,
    .row-content {
        width: 100%;
        margin-bottom: 1.5rem;
        clear: both;
        text-align: center;
        .column {
            width: 12.7%;
            height: 3.6rem;
            margin-right: 0.5rem;
            display: inline-block;
            font-family: sf-pro-bold;
            font-size: 1.6rem;
            line-height: 2.2rem;
            vertical-align: top;
        }
        .datetime {
            min-width: 9%;
            height: 3.6rem;
            margin-right: 0.5rem;
            display: inline-block;
            font-family: sf-pro-bold;
            font-size: 1.6rem;
            line-height: 2.2rem;
            vertical-align: top;
        }
        .doctor {
            min-width: 12.7%;
            height: 3.6rem;
            margin-right: 0.5rem;
            display: inline-block;
            font-family: sf-pro-bold;
            font-size: 1.6rem;
            line-height: 2.2rem;
            vertical-align: top;
        }
        .newRow {
            background: #fbfbfb;
            width: 100%;
            font-family: sf-pro;
            padding: 0.8rem 0.5rem;
            border: 0.5px solid #7e7e7e;
            border-radius: 0.5rem;
            height: 3.6rem;
            outline: none;
        }
        .autoFilled {
            background: #e5e5e5;
            width: 100%;
            pointer-events: none;
            padding: 0.8rem 0.5rem;
            border: 0.5px solid #7e7e7e;
            border-radius: 0.5rem;
            height: 3.6rem;
            outline: none;
        }
        .actionDiv {
            width: 3%;
            display: inline-block;
            height: 3.6rem;
            font-size: 2.5rem;
            vertical-align: middle;
            padding: 0.3rem 0;
            position: relative;
        }
    }
    .row-content {
        position: relative;
        text-align: center;
        .column {
            font-family: sf-pro;
            width: 12.7%;
            display: inline-block;
            margin-right: 0.5rem;
            // padding: 0.8rem 1rem;
            background: #e5e5e5 0% 0% no-repeat padding-box;
            // border: 0.5px solid #7e7e7e;
            border-radius: 5px;
            height: 3.6rem;
            vertical-align: top;
        }
        .datetime {
            font-family: sf-pro;
            min-width: 9%;
            display: inline-block;
            margin-right: 0.5rem;
            // padding: 0.8rem 1rem;
            background: #e5e5e5 0% 0% no-repeat padding-box;
            // border: 0.5px solid #7e7e7e;
            border-radius: 5px;
            height: 3.6rem;
            vertical-align: top;
            text-align: left;
        }
        .doctor {
            font-family: sf-pro;
            width: 6%;
            display: inline-block;
            margin-right: 0.5rem;
            // padding: 0.8rem 1rem;
            background: #e5e5e5 0% 0% no-repeat padding-box;
            // border: 0.5px solid #7e7e7e;
            border-radius: 5px;
            height: 3.6rem;
            vertical-align: top;
        }
        &.non-empty {
            // &::after {
            //     content: "⠇";
            //     font-size: 2.2rem;
            //     color: #a6a7a5;
            //     position: absolute;
            //     right: -0.9rem;
            //     top: 50%;
            //     transform: translateY(-50%);
            // }
        }
    }
    .invoice-row {
        margin-bottom: 1.5rem;
        .datetime {
            min-width: 9%;
            font-family: sf-pro;
            display: inline-block;
            margin-right: 0.5rem;
            // padding: 0.8rem 1rem;
            background: #e5e5e5 0% 0% no-repeat padding-box;
            // border: 0.5px solid #7e7e7e;
            border-radius: 5px;
            height: 3.6rem;
            vertical-align: top;
        }
        .doctor {
            width: 6%;
            font-family: sf-pro;
            display: inline-block;
            margin-right: 0.5rem;
            // padding: 0.8rem 1rem;
            background: #e5e5e5 0% 0% no-repeat padding-box;
            // border: 0.5px solid #7e7e7e;
            border-radius: 5px;
            height: 3.6rem;
            vertical-align: top;
        }
    }
    .action {
        font-size: 2.5rem;
        color: #a6a7a5;
        cursor: pointer;
    }
    .action-content {
        font-size: 1.4rem;
        line-height: 2rem;
        position: absolute;
        padding: 0.5rem 1rem;
        top: 0%;
        right: 45%;
        transform: translate(0%, 50%);
        background: #fff;
        border: 0.5px solid #ccc;
        border-radius: 0.5rem;
        width: 7rem;
        z-index: 1;
    }
    .actionName {
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    .saveInvoice {
        width: 45%;
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-top: 2rem;
    }
    .save-button {
        width: 100%;
        border-radius: 1.8rem;
        color: #007aff;
        font-size: 1.5rem;
        padding: 0.8rem;
        line-height: 2.1rem;
        margin-bottom: 0;
        background-color: #eeeef0;
    }
    .edit-buttons {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0rem auto;
        padding: 1rem;
        margin: 1.5rem 0 0;
    }
    .edit-buttons button {
        width: 25%;
        display: inline-block;
        border-radius: 1.8rem;
        color: #007aff;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-right: 1rem;
        background-color: #eeeef0;
    }
}
ion-icon.cancelButton {
    color: red;
    display: inline-block;
    font-size: 2.6rem;
    vertical-align: middle;
    cursor: pointer;
}
@media screen and (min-width: 1150px) and (max-width: 1366px) {
    .container {
        width: 90%;
        // width: 1100px;
    }
}
@media screen and (height: 1024px) and (width: 1366px) {
    .container {
        width: 90%;
        .row-header,
        .row-content {
            .column {
                // margin-right: 0.8rem;
                font-size: 1.4rem;
                width: 12.7%;
            }
            .datetime {
                min-width: 12.7%;
            }
            .doctor {
                width: 12.7%;
            }
            .actionDiv {
                width: 2%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 96%;
        .new-invoice-btn {
            font-size: 1.4rem;
        }
        .row-header,
        .row-content {
            .column {
                font-size: 1.4rem;
                // margin-right: 0.8rem;
                width: 12.7%;
            }
            .datetime {
                font-size: 1.4rem;
                min-width: 12.7%;
            }
            .doctor {
                font-size: 1.4rem;
                width: 12.7%;
            }
            .actionDiv {
                width: 2%;
            }
        }
    }
}
@media screen and (min-width: 690px) and (max-width: 768px) {
    .container {
        max-width: 100%;
        .new-invoice-btn {
            font-size: 1.2rem;
        }
        .row-header,
        .row-content {
            .column {
                font-size: 1.2rem;
                margin-right: 0.6rem;
                // padding: 0.5rem;
                width: 13.7%;
            }
            .datetime {
                font-size: 1.2rem;
            }
            .doctor {
                font-size: 1.2rem;
            }
        }
        .row-header .column {
            white-space: break-spaces;
        }
        .parent {
            width: 100%;
            min-height: 68vh;
            max-height: 72vh;
            white-space: nowrap;
            overflow-x: auto;
        }
    }
    .container .edit-buttons {
        display: block;
    }
}
@media (min-width: 1367px) {
  .container {
    .invoice-row {
        .doctor {
            min-width: 12.7%;
        }
    }
  }  
}