p {
    font-size: 1.4rem;
}

h3 {
    margin-bottom: 1rem;
    font-family: 'sf-pro-bold';
}

h4 {
    font-family: 'sf-pro-bold';
}

span {
    font-family: 'sf-pro-bold';
}

.info {
    margin: 0rem 2rem;
}

.header {
    margin-bottom: 1rem;
}

.category {
    margin-bottom: 1rem;
}

.button {
    text-align: right;
}

.close-modal {
    width: 4rem;
    height: 4rem;
    color: #8e8e93;
    border: none;
    background: transparent;
}