<ion-content>
  <div class="clientdetail-wrapper">
    <div class="container-large">
      <!-- Div for clients details page -->
      <div class="clientdetail-content" *ngIf="showDetails">
        <div class="row">
          <h2 class="client-name">{{clientDetails.name}}
            <!-- <span class="pendingDiv">
              <ion-icon class="more" name="ios-more" *ngIf="clientDetails.currentStatus == 'Pending'"></ion-icon>
              <ion-icon class="checkmark" name="checkmark-circle" *ngIf="clientDetails.currentStatus == 'Verified'">
              </ion-icon>
              <ion-icon class="rejected-icon" name="close-circle" *ngIf="clientDetails.currentStatus == 'Rejected'">
              </ion-icon>
            </span> -->
          </h2>
        </div>
        <div class="row" style="text-align: right;">
          <div class="view-consultants" (click)="viewAssignedConsultants()">
            View Assigned Consultants
          </div>
        </div>
        <div class="row">
          <div class="details-div-small col-5" (click)="redirectToCaseList()"
            [ngClass]="{'disabledDiv': !allowToCaselist}">
            <div class="details-text">
              <p>Case</p>
            </div>
            <div class="case-img">
              <img src="./assets/images/folder-svgrepocase-com.svg" />
            </div>
          </div>
          <div class="details-div-small disabledDiv col-7">
            <div class="details-text">
              <!-- <div class="latest-text">
                <p class='case-name'> {{latestCase.caseDetails.name}}</p>
                <p class='case-status'> {{latestCase.currentStatus}}</p>
              </div> -->
              <p class="latest-text">Review medical history</p>
            </div>
            <!-- <div class="case-img">
              <img src=" ./assets/images/folder-svgrepocase-com.svg" />
            </div> -->
          </div>
        </div>
        <div class="details-div" (click)='dataService.routeChange("/client-profile/"+clientId+"/client-information")'
          [ngClass]="{'disabledDiv': !allowToCaselist}">
          <div class="details-text">
            <p>Client Information</p>
          </div>
          <div class="details-img">
            <img class="insu-image" src="./assets/images/51addc0c63cf8c3aeb3d58cdefec6e05.svg" />
            <img class="small-img-icon" src="./assets/images/961a4c5a5bfe97607d5254fd2eaacd15.svg" />
          </div>
        </div>
        <!-- <div class="details-div" [ngClass]="{disable:clientDetails.currentStatus !== 'Verified'}" -->
        <div class="details-div" (click)='dataService.routeChange("/client-profile/"+clientId+"/personal-particular")'
          [ngClass]="{'disabledDiv': !allowToCaselist}">
          <div class="details-text">
            <p>Personal Particular</p>
          </div>
          <div class="client-img">
            <div class="client-head"></div>
            <div class="client-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>