.gallery-container {
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: #ededed;
}

.close-btn {
    float: left;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
}

.filename {
    background-color: transparent;
    font-size: 1.8rem;
    border: none;
    color: #3e3e3e;
    border-bottom: 1px solid #7e7e7e;
    outline: none;
    text-align: center;
}

.submit-btn {
    display: inline-block;
    float: right;
    font-size: 2rem;
    color: #3e3e3e;
}

.display-image-container {
    width: 100%;
    height: calc(100% - 15rem);
    background-color: black;
}

.display-image {
    width: 100%;
    height: 96%;
    background-color: #000;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doc-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    right: 0;
    background-color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// .footer-container{
//   width: 100%;
//   height: 7rem;
//   background-color: #EDEDED;
// }

.footer-wrapper {
    background-color: #ededed;
}

.a-selected-image {
    max-width: 7rem;
    max-height: 7rem;
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
    border: 1px solid #6d82c1;
    position: relative;
    background: #ededed;
    margin-right: 1.7rem;
    margin-bottom: 2rem;
    display: inline-block;
}
.a-selected-image:last-child {
    margin-right: 0;
}

.selected-image-delete-icon {
    border-radius: 1rem;
    background-image: linear-gradient(180deg, #656565, #656565);
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: -0.75rem;
    top: -0.75rem;
}

.upload-percent {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.progress-bar-container {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

.progress-bar {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    transform: translate(-50%, -50%);
    background: transparent;
}

// .page-wrap {
//   background-image: linear-gradient(335deg, #313772, #2a71a8);
// }
// .page {
//   margin: 0 auto;
//   // width: 100%;
//   min-height: 100vh;
//   position: relative;
// }
// .header {
//   margin: 0 auto;
// }
// .primary-header {
//   padding: 1.6rem 0 0 0;
// }
// .footer-wrapper {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   background : transparent;
// }

// .done-btn{
//     color: white;
//     font-size: 1.6rem;
//     text-align: center;
// }
// .footer-content {
//   background-image: linear-gradient(90deg, #2A71A8, #313772);
//   padding: 0 2rem 1.6rem 2rem;
//   border-radius: 15px 15px 0 0 ;
//   box-sizing : border-box;
// }
// .secondary-footer {
//   max-width: 375px;
//   margin: 0 auto;
// }
// .footer-seperator {
//   border: 1px solid #E6E6E6;
//   opacity: 0.08;
//   margin-bottom: 1.5rem;
//     margin-top: 1.7rem;
// }
// .a-selected-image {
//   max-width: 5rem;
//   max-height: 5rem;
//   width: 5rem;
//   height: 5rem;
//   border-radius: 1rem;
//   border: 1px solid #6D82C1;
//   position: relative;
//   background: whitesmoke;
//   margin-right: 1.7rem;
//   margin-bottom: 2rem;
//   display: inline-block;
// }
// .a-selected-image:last-child {
//   margin-right: 0;
// }

// .selected-image-delete-icon {
//   border-radius: 1rem;
//   background-image: linear-gradient(180deg, #FF9485, #FF676E);
//   width: 1.5rem;
//   height: 1.5rem;
//   position: absolute;
//   right: -0.75rem;
//   top: -0.75rem;
// }

// .filename-container{
//   max-width: 11rem;
//   font-size: 1.6rem;
//   text-align: center;
//   background: transparent;

// }

// .filename{
//   max-width: 11rem;
//   font-size: 1.6rem;
//   outline: none;
//   border: none;
//   background: transparent;
//   color: white;
//   text-align: center;
//   border-bottom: 1px solid white;

// }

// .filename-container{
//   background:transparent;
//   height: 1.5rem;
//   position: absolute;
//   bottom: -2rem;

// }

// .gallery-selector {
//   width: 4rem;
//   height: 4rem;
// }
// .capture-image-wrap {
//   width: 5rem;
//   height: 5rem;
//   background: #95A1BC;
//   border: 3px solid #ffffff;
//   border-radius: 50%;
// }
// .forward-wrap {
//   background: rgba(36,36,38,0.3);
//     /* opacity: 0.3; */
//     padding: 1.2rem;
//     border-radius: 50%;
// }
// .align-items-center {
//   align-items: center;
// }
// .vertical-align-middle {
//   vertical-align: middle;
// }
// .hidden {
//   visibility: hidden;
// }
// .camera-preview-area {
//   height: 100px;
//   // background: orange;
//   color: white;
//   font-size: 2rem;
// }
.a-selected-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}
.current-selected-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: initial;
}
.primary-footer {
    overflow: auto;
    white-space: nowrap;
}
.padding-top-footer {
    padding-top: 1.6rem;
    box-sizing: border-box;
}
