<ion-content>
    <div class="calculator-wrapper">
        <div class="row">
            <div class="col-2 close-modal-wrap">
                <ion-icon class="close-modal" (click)="dismiss()" name="close"></ion-icon>
            </div>
            <div class="modal-title col-10">
                <i>
                    <h4>Medisave Calculator</h4>
                </i>
            </div>
        </div>
        <div class="calculator-main-blk">
            <div class="radio-main-blk">
                <div class="radio-sub-blk">
                    <label class="radio-label">
                        <input type="radio" name="medisave-radio" [checked]='surgeryType=="inpatient"' value='inpatient'
                            [(ngModel)]='surgeryType' (change)='typeChange()' />
                        Inpatient</label>
                </div>
                <div class="radio-sub-blk">
                    <label class="radio-label">
                        <input type="radio" name="medisave-radio" [checked]='surgeryType=="daysurgery"'
                            value='daysurgery' [(ngModel)]='surgeryType' (change)='typeChange()' />
                        Day Surgery
                    </label>
                </div>
            </div>
            <div class="input-wrapper">
                <label class="input-blk-label">Number of Day Stay</label>
                <input type='number' class="input-blk" [(ngModel)]='noOfDays' min="1"
                    [ngClass]='surgeryType =="daysurgery"?"disabled":""' (input)='calculateTotal()'
                    (change)='calculateTotal()' />
            </div>
            <div class="table-main-blk">
                <p class="table-title">
                    Maximum amount allowed for surgical procedure
                </p>
                <div class="table-wrapper" id='tableContent'>
                    <div class="table-container" *ngFor="let total of totalContent; let j = index;">
                        <div class="table-header-wrap">
                            <div class="table-header-cell-blk cursor-pointer" (click)='deselectAll(j)'>
                                <span>#NA</span>
                            </div>
                            <div class="table-header-cell-blk">
                                <span>A</span>
                            </div>
                            <div class="table-header-cell-blk">
                                <span>B</span>
                            </div>
                            <div class="table-header-cell-blk">
                                <span>C</span>
                            </div>
                        </div>
                        <div class="table-content-wrap" *ngFor="let data of total.values; let i = index;">
                            <div class="table-content-cell-blk">
                                <span>{{i+1}}</span>
                            </div>
                            <div class="table-content-cell-blk cursor-pointer" (click)="addBlueBackground(i, 'A',j)"
                                [ngClass]="{'blueBackground': data.aShowBlue === true}">
                                <span>{{data.A}}</span>
                            </div>
                            <div class="table-content-cell-blk cursor-pointer" (click)="addBlueBackground(i, 'B',j)"
                                [ngClass]="{'blueBackground': data.bShowBlue === true}">
                                <span>{{data.B}}</span>
                            </div>
                            <div class="table-content-cell-blk cursor-pointer" (click)="addBlueBackground(i, 'C',j)"
                                [ngClass]="{'blueBackground': data.cShowBlue === true}">
                                <span>{{data.C}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-wrapper">
                <label class="input-blk-label">Medisave Withdrawal Limit <span class='tip'>Capped at
                        {{capLimit}}</span></label>
                <input class="input-blk disabled" [(ngModel)]='finalLimit' disabled />
            </div>
        </div>
    </div>
</ion-content>